@model SIDEPS.Models.MiembroFamiliar_M

@{
    ViewBag.Title = "EliminarFamiliar";
}

<h2>Paso 4</h2>

<h3>Desea eliminar este familiar?</h3>
<div>
    <h4>Eliminar Familiar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CEDFAML22)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEDFAML22)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMFAML22)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMFAML22)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDAFAML22)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDAFAML22)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODESTC06)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODESTC06)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODNEDU09)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODNEDU09)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OACFAML22)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OACFAML22)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INGFAML22)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INGFAML22)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESFAML22)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESFAML22)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODORGS21)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODORGS21)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODENFR15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODENFR15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODPARE12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODPARE12)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.CEDFAML22)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "GrupoFamiliar")
        </div>
    }
</div>
