@model IEnumerable<SIDEPS.Models.MiembroFamiliar_M>

@{
    ViewBag.Title = "Situacion Financiera";
}

<h2>Paso 4</h2>
<h3>Grupo Familiar</h3>
<p>
    @Html.ActionLink("Agregar", "AgregarFamiliar")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CEDFAML22)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMFAML22)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDAFAML22)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CODESTC06)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CODNEDU09)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OACFAML22)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INGFAML22)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESFAML22)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CODORGS21)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CODENFR15)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CODPARE12)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CEDFAML22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMFAML22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EDAFAML22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => (ViewData["estadoCivil"] as Dictionary<int, string>)[item.CODESTC06.GetValueOrDefault()])
            </td>
            <td>
                @Html.DisplayFor(modelItem => (ViewData["escolaridad"] as Dictionary<int, string>)[item.CODNEDU09.GetValueOrDefault()])
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OACFAML22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INGFAML22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESFAML22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => (ViewData["escolaridad"] as Dictionary<int, string>)[item.CODORGS21.GetValueOrDefault()])
            </td>
            <td>
                @Html.DisplayFor(modelItem => (ViewData["enfermedades"] as Dictionary<int, string>)[item.CODENFR15.GetValueOrDefault()])
            </td>
            <td>
                @Html.DisplayFor(modelItem => (ViewData["parentescos"] as Dictionary<int, string>)[item.CODPARE12.GetValueOrDefault()])
            </td>
            <td>
                @Html.ActionLink("Modificar", "ModificarFamiliar", new { id=item.CEDFAML22 }) |
                @Html.ActionLink("Detalles", "DetallesFamiliar", new { id=item.CEDFAML22 }) |
                @Html.ActionLink("Eliminar", "EliminarFamiliar", new { id=item.CEDFAML22 })
            </td>
        </tr>
    }
</table>

<p>
    <div class="form-group form-inline">
        <div class="col-md-1">
            @Html.ActionLink("Siguiente", "Egresos", null, new { @class = "btn btn-default" })
        </div>
    </div>
</p>
}