@model SIDEPS.Models.MiembroFamiliar_M

@{
    ViewBag.Title = "Modificar Familiar";
}

<h2>Paso 4</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Modificar Familiar</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.CEDFAML22, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CEDFAML22, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CEDFAML22, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NOMFAML22, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NOMFAML22, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NOMFAML22, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EDAFAML22, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EDAFAML22, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EDAFAML22, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CODESTC06, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CODESTC06, new SelectList(Model.EstadosCiviles, "Codigo", "Descripcion"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CODESTC06, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CODNEDU09, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CODNEDU09, new SelectList(Model.Escolaridad, "Codigo", "Descripcion"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CODNEDU09, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OACFAML22, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OACFAML22, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OACFAML22, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.INGFAML22, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.INGFAML22, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.INGFAML22, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DESFAML22, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DESFAML22, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DESFAML22, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CODORGS21, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CODORGS21, new SelectList(Model.Organizaciones, "Codigo", "Descripcion"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CODORGS21, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CODENFR15, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CODENFR15, new SelectList(Model.Enfermedades, "Codigo", "Descripcion"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CODENFR15, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CODPARE12, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CODPARE12, new SelectList(Model.Parentescos, "Codigo", "Descripcion"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CODPARE12, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Regresar", "GrupoFamiliar")
</div>
