@model SIDEPS.Models.Vivienda_M

@{
    ViewBag.Title = "Vivienda";
}

<h2>Paso 3</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CODVIVI20)
    
    <div class="form-horizontal">
        <h4>Vivienda</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.CODTIPV18, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CODTIPV18, new SelectList(Model.Tipos, "Codigo" , "Descripcion"), new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.CODTIPV18, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CODESTV19, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CODESTV19, new SelectList(Model.Estados, "Codigo", "Descripcion"), new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.CODESTV19, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CODMATE17, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CODMATE17, new SelectList(Model.Materiales, "Codigo", "Descripcion"), new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.CODMATE17, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MTOVIVI20, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MTOVIVI20, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MTOVIVI20, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NAPVIVI20, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NAPVIVI20, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NAPVIVI20, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SRCVIVI20, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.SRCVIVI20, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SRCVIVI20, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SRIVIVI20, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.SRIVIVI20, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SRIVIVI20, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SRLVIVI20, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.SRLVIVI20, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SRLVIVI20, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SRMVIVI20, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.SRMVIVI20, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SRMVIVI20, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SRBVIVI20, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.SRBVIVI20, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SRBVIVI20, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SREVIVI20, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.SREVIVI20, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SREVIVI20, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Siguiente" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
