@model IEnumerable<SIDEPS.Models.HistoricoCaso_M>

@{
    ViewBag.Title = "HistoricoPorDiaconia";
}

<h2>Historico Por Diaconia</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CODCASO25)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEDPERS13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMPERS13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAPPERS13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEDUSRO07)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMUSRO07)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAPUSRO07)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FEICASO25)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FEFCASO25)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCASO25)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPICASO25)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTCASO25)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CODCASO25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEDPERS13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMPERS13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PAPPERS13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEDUSRO07)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMUSRO07)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PAPUSRO07)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FEICASO25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FEFCASO25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCASO25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OPICASO25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESTCASO25)
            </td>
            <td>
                @Html.ActionLink("Detalles", "DetallesHistorico", new { codigoCaso = item.CODCASO25 })
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Volver", "MenuParroquial", "AdminParroquial", null, new { @class = "boton_1" })
<style type="text/css">
    .boton_1 {
        text-decoration: none;
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: helvetica;
        font-weight: 300;
        font-size: 25px;
        font-style: italic;
        color: #FFFFFF;
        background-color: #39B411;
        border-radius: 15px;
        border: 3px double #006505;
    }

        .boton_1:hover {
            opacity: 0.6;
            text-decoration: none;
        }
